name: build

on:
  push:
    branches:
      - main
      - 'release/**'
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          check-latest: true
          go-version-file: 'go.mod'
      - name: Set version
        run: |
          echo "LIFECYCLE_VERSION=$(go run tools/version/main.go)" | tee -a $GITHUB_ENV
      - name: Build
        run: |
          make clean
          make build-linux-amd64 build-linux-arm64
          make package-linux-amd64 package-linux-arm64
      - uses: azure/docker-login@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Publish images
        run: |
          LIFECYCLE_IMAGE_TAG=$(git describe --always --abbrev=7)

          LINUX_AMD64_SHA=$(go run ./tools/image/main.go \
            -lifecyclePath ./out/lifecycle-v*+linux.x86-64.tgz \
            -tag rainbond/lifecycle:${LIFECYCLE_IMAGE_TAG}-linux-x86-64 \
            | awk '{print $NF}')

          LINUX_ARM64_SHA=$(go run ./tools/image/main.go \
            -lifecyclePath ./out/lifecycle-v*+linux.arm64.tgz \
            -tag rainbond/lifecycle:${LIFECYCLE_IMAGE_TAG}-linux-arm64 \
            -arch arm64 \
            | awk '{print $NF}')

          # version tag
          docker manifest create --amend rainbond/lifecycle:${LIFECYCLE_VERSION} \
            rainbond/lifecycle:${LIFECYCLE_IMAGE_TAG}-linux-x86-64@${LINUX_AMD64_SHA} \
            rainbond/lifecycle:${LIFECYCLE_IMAGE_TAG}-linux-arm64@${LINUX_ARM64_SHA}
          docker manifest push rainbond/lifecycle:${LIFECYCLE_VERSION}

          # latest tag
          docker manifest create --amend rainbond/lifecycle:latest \
            rainbond/lifecycle:${LIFECYCLE_IMAGE_TAG}-linux-x86-64@${LINUX_AMD64_SHA} \
            rainbond/lifecycle:${LIFECYCLE_IMAGE_TAG}-linux-arm64@${LINUX_ARM64_SHA}
          docker manifest push rainbond/lifecycle:latest

          echo "Pushed: rainbond/lifecycle:${LIFECYCLE_VERSION}, rainbond/lifecycle:latest"
